.dt-container .justify-content-between{
    flex-direction: row-reverse;
   
}
.dt-length{
    display: flex;
    flex-direction: row-reverse;
}
.table thead tr th, .table tbody tr td{
    text-align: right!important;
}