.offcanvas-header{
    background-color: white;
    color: hsl(0deg 0% 46.27%);
}
.nav-link, .dropdown-menu a{
    color: hsl(0deg 0% 46.27%) ;
}
.offcanvas-body{
    background-color: white;
}
.navbar-brand:hover{
    color: orange !important;
}
.my_active{
    background-color: #392bdd;
    width: 95%;
    border-radius: 5px;
    color: white!important;
}
.nav-link:hover, .dropdown-item:hover, .dropdown-item:focus{
    background-color: #392bdd;
    width: 95%;
    border-radius: 5px;
    color: white;
}