.navbar, .offcanvas-header, .offcanvas-body, .dropdown-menu{
    background-color: #e91d63 !important;
}
.hero-bg {
    background: linear-gradient(170deg, #e91d63 64%, var(--white-color) 30%)!important;
}
.navbar-brand, .nav-link{
    color: white!important;
}
.navbar-toggler{
    background-color: white!important;
}