.modal-header{
    justify-content: space-between;
}
.my_active{
    color: orange !important;
}
.style_icon_menu{
    width: 30px;
    margin: 7px;
}
.offcanvas-body, .offcanvas-body .dropdown-menu{
    background-color: gray!important;
}
.start-page{
    margin-top: 57px;
}
.pointer{
    cursor: pointer;
}
.text-left{
    text-align: left!important;
}
.branch-label{
    margin-left: 45px;
    margin-bottom: 5px;
}

.flexCheck:checked {
    background-color: #FF9800!important;
    border-color: #FF9800!important;
}


.avatar-product{
    width: 150px;
    height: 150px;
    border-radius: 75px;
}
.img-btn{
    margin-top: 5px;
}
/* .error-message{
    border: 2px solid #dc3545;
} */
.avatar{
    width: 1px;
    height: 1px;
}
.avatar-product-view{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.table-avatar{
    vertical-align: middle;
}
.product-img-view{
    width: 100%;
    height: 100%;
}